@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;
    /* display: none; */
    background-color: transparent;
  }

*::-webkit-scrollbar-button{
  display: none;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #adaaab;
    border-radius: 14px;
    border: solid 3px #fff;
  }

*::-webkit-scrollbar-thumb:hover {
    background-color: #989596;
    
  }


@layer components{
    .container{
        @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8
    }
}
